.confort2{
    gap: 15rem;
    margin: 1%;
}

.h4{
    background-color:rgba(212, 169, 207, 0.534);    
    text-align: center;
    color: rgb(86, 77, 77);
    font-size: 24px;
    border: 4mm ridge beige;
    padding: 30px;
    border-radius: 50px;
}

.h44{
    border-radius: 20px;
}

.sanspoint{
    list-style: none;
}

.commander{
    background-color:rgb(86, 77, 77);
    padding: 20px;
    font-size: 20px;
    color: rgb(255, 250, 250);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    text-decoration: none;
    border-radius: 50px;
}

.flex{
    text-align: center;
}