<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMMANDER</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
</head>

<body background="image/fond/fond-finale3.jpg">
    <header>
        <nav class="fond2">
            <div style="color: beige;">
                <h1>💶 COMMANDER 💶</h1>            
            </div>
        </nav>

        <section style="background-image:url(image/fond/fond.jpg) ;">
            <div class="centre">
                <div class="acceuil">
                    <p><a href="/index">ACCEUIL</a></p>
                </div>

                <br>

                <div>
                    <p> SHOP TES CHAUSSETTE ici👉🏻
                        <a href="/page2">💶 Commander 💶</a>
                    </p>
                </div>

                <br>

                <div class="case">
                    <p><a href="/page3">🤗 Confort 🤗</a></p> 
                    <p> <a href="/page4">🥊 Sport 🥊</a></p>  
                    <p> <a href="/page5">🕰️ Classique 🕰️</a></p>
                    <p><a href="/page6">⚽ Football ⚽ </a></p>
                </div>    
            </div>

            <div class="commande" style="text-align: center;">
                <h2>Commander vos chaussette</h2>

                <form action="post">
                    <label for="CB">Numéro de carte</label>
                    <input type="text" name="CB">
                </form>

                <form action="post">
                    <label for="CB">Date d'éxpiration</label>
                    <select name="mois">
                        <option value="1">Janvier</option>
                        <option value="2">Février</option>
                        <option value="3">Mars</option>
                        <option value="4">Avril</option>
                        <option value="5">Mai</option>
                        <option value="6">Juin</option>
                        <option value="7">Juillet</option>
                        <option value="8">Août</option>
                        <option value="9">Septembre</option>
                        <option value="10">Octobre</option>
                        <option value="11">Novembre</option>
                        <option value="12">Décembre</option>
                    </select>

                    <select name="annees">
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                        <option value="2028">2028</option>
                        <option value="2029">2029</option>
                        <option value="2030">2030</option>
                        <option value="2031">2031</option>
                        <option value="2032">2032</option>
                        <option value="2033">2033</option>
                    </select>
                </form>

                <form action="post">
                    <label for="name">Nom sur la carte</label>
                    <input type="text" name="NOM">
                    <input type="text" name="PRENOM">
                </form>

                <form action="post">
                    <label for="code">Code de sécurité (CVV)</label>
                    <input type="text">
                </form>
                
                <input type="submit" value="💶 Commander 💶">

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                <form action="" method="get" class="post">
                    <div>
                    <label for="name">Entrer votre username: </label>
                    <input type="text" name="name" id="name" required>
                    </div>
                    <div>
                    <label for="email">Entrer votre email: </label>
                    <input type="email" name="email" id="email" required>
                    </div>
                    <div>
                    <input type="submit" value="Inscription">
                    </div>
                </form>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                <div class="confort">
                    <a href="https://www.instagram.com/ayoub693/"><img src="image/logo/instagram.png" alt="lien instagram" class="insta"></a>
                </div>
            </div>
        </section>
    </header>

    <div>
        <br>
        <br>
        <br>
    </div>
</body>
</html>